<!-- Modal -->
<div class="modal fade" id="remove_animator_<%= participation.user.id %>_Modal" tabindex="-1" aria-labelledby="remove_animator_<%= participation.user.id %>_ModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-lg modal-fullscreen-lg-down">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
            <%= t("invitations.remove_animator_title") %>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body modal-dialog-scrollable">

        <%= t("invitations.remove_animator", firstname: participation.user&.firstname&.capitalize_with_dash) %>

      </div>
      <div class="modal-footer">
        <%= link_to fa_icon("user-times", text: t("invitations.remove_animator_confirmation")),
                    training_session_invitation_path(@training_session, participation), data: {turbo_method: :delete},
                                                                                        class: "btn btn-primary rounded-pill" %>
      </div>
    </div>
  </div>
</div>
