<div class="btn-group">
  <%= link_to("#",
              class: "btn link-secondary",
              role: "button", data: {bs_toggle: "dropdown"},
              aria_expanded: "false") do %>
    <% if params[:filter] == "confirmed" %>
      <%= t("invitations.confirmed_count", count: @training_session.confirmed_count) %>
    <% elsif params[:filter] == "pending" %>
      <%= t("invitations.pending_count", count: @training_session.pending_count) %>
    <% elsif params[:filter] == "declined" %>
      <%= t("invitations.declined_count", count: @training_session.declined_count) %>
    <% else %>
      <%= t("invitations.all_participants_count", count: @training_session.all_participants_count) %>
    <% end %>
    <%= fa_icon('chevron-down', class: "ms-2") %>
  <% end %>
  <div class="dropdown-menu">
    <%= link_to(t("invitations.all_participants_count", count: @training_session.all_participants_count),
                show_session_link(@training_session),
                class: "dropdown-item border-bottom-secondary link-secondary text-decoration-none") %>
    <%= link_to(t("invitations.confirmed_count", count: @training_session.confirmed_count),
                show_session_link(@training_session, "confirmed"),
                class: "dropdown-item border-bottom-secondary link-secondary text-decoration-none") %>
    <%= link_to(t("invitations.pending_count", count: @training_session.pending_count),
                show_session_link(@training_session, "pending"),
                class: "dropdown-item border-bottom-secondary link-secondary text-decoration-none") %>
    <%= link_to(t("invitations.declined_count", count: @training_session.declined_count),
                show_session_link(@training_session, "declined"),
                class: "dropdown-item link-secondary text-decoration-none") %>
  </div>
</div>
