<!DOCTYPE html>
<html lang="en">
<head>
  <% nonprofit_name = (defined?(OpenFreskSetting) && OpenFreskSetting.first) ? OpenFreskSetting.first.non_profit_name : "OpenFresk" %>
  <title><%= nonprofit_name %></title>
  <%= render "layouts/open_fresk/include" %>
  <%= render "layouts/open_fresk/meta" %>

  <% color_setting = defined?(ColorSetting) && ColorSetting.first %>
  <% if color_setting %>
  <style>
    :root {
      --primary-color: <%= color_setting&.primary_color %>;
      --secondary-color: <%= color_setting&.secondary_color %>;
    }
   </style> 
   <% end %>
</head>
<body class="<%= controller_name %> <%= action_name %> flex-column h-100 my-0">
<%= render "layouts/open_fresk/header" %>
<div class="container mb-3">
  <div class="mx-auto col-lg-6">
    <%= render "layouts/open_fresk/alert" %>

    <%#— hook for host‑only partials —%>
    <% if lookup_context.template_exists?("layouts/open_fresk/container_extras", [], true) %>
      <%= render partial: "layouts/open_fresk/container_extras" %>
    <% end %>
  </div>
  <%= yield %>
</div>
<%= render "layouts/open_fresk/footer" %>
</body>
</html>