<!DOCTYPE html>
<html lang="en">
<head>
  <title>OpenFresk</title>
  <%= render "layouts/open_fresk/include" %>
  <%= render "layouts/open_fresk/meta" %>
</head>
<body class="<%= controller_name %> <%= action_name %> flex-column h-100 my-0">
<%= render "layouts/open_fresk/header" %>
<div class="container mb-3">
  <div class="mx-auto col-lg-6">
    <%= render "layouts/open_fresk/alert" %>

    <%#— hook for host‑only partials —%>
    <% if lookup_context.template_exists?("layouts/open_fresk/container_extras", [], true) %>
      <%= render partial: "layouts/open_fresk/container_extras" %>
    <% end %>
  </div>
  <%= yield %>
</div>
<%= render "layouts/open_fresk/footer" %>
</body>
</html>