<p><%= t("reset_password.content_01") %></p>
<p><%= t("reset_password.content_02", email: @user.email) %></p>
<p><%= t("reset_password.content_03") %></p>
<p><%= t("reset_password.content_04") %></p>
<p style="<%= Constants::SendInBlue::STYLE_CENTER %>">
  <%= link_to(t("reset_password.content_05"), @reset_url, style: Constants::SendInBlue::STYLE_CALL_TO_ACTION_BTN) %>
</p>
<p><%= t("reset_password.content_06_html", forgot_password_url: @forgot_password_url ) %></p>
