<div class="border-bottom-secondary p-3"
   data-participation-id="<%= participation.id %>">
    <%= link_to "#collapse_#{participation.id}",
          class: "d-block link-secondary text-decoration-none collapse_action d-flex justify-content-between align-items-top tooltips",
          data: {bs_toggle: "collapse", bs_html: "true"} do %>
      <div>
        <div>
          <%= render "open_fresk/session_partials/participant_card_info", participation: participation %>
        </div>
        <small><%= t('by') %>
          <%= participation.animator&.firstname&.first&.capitalize %>.
          <%= participation.animator&.lastname&.titleize_with_dashes %>
        </small>
        <% if @training_session.formation? && participation.user.last_sign_in_at.nil? %>
          <div class="small text-warning"><%= t('participations.account_not_activated', firstname: participation.user.firstname&.titleize_with_dashes) %></div>
        <% elsif @training_session.formation? %>
          <div class="small text-primary"><%= t('participations.account_activated') %></div>
        <% end %>
      </div>
      <div><%= fa_icon("chevron-right", class: "link-secondary #{"do_not_rotate" if (!participation.my_present?(current_user))}") %></div>
    <% end %>
    <%= render "open_fresk/session_partials/participant_collapse", participation: participation %>
</div>
