<div class="border-bottom-light p-3">
    <%= link_to "#collapse_anonymous_#{participation.id}_#{i}",
          class: "d-block link-secondary text-decoration-none collapse_action d-flex justify-content-between align-items-top tooltips",
          data: {bs_toggle: "collapse", bs_html: "true"} do %>
      <div>
        <div>
          <%= render "session_partials/participant_card_info", participation: nil %>
        </div>
        <small><%= t('by') %>
          <% if participation.coanimator %>
            <%= participation.animator&.firstname&.first&.capitalize %>.
            <%= participation.animator&.lastname&.titleize_with_dashes %>
            <%= t('and') %>
            <%= participation.coanimator&.firstname&.first&.capitalize %>.
            <%= participation.coanimator&.lastname&.titleize_with_dashes %>
          <% else %>
            <%= participation.animator&.firstname&.first&.capitalize %>.
            <%= participation.animator&.lastname&.titleize_with_dashes %>
          <% end %>
        </small>
      </div>
      <div><%= fa_icon("chevron-right", class: "link-light") %></div>
    <% end %>
    <%= render "session_partials/participant_collapse_anonymous", participation: participation.id, i: i %>
</div>
