<p><%= t("reset_password.content_01") %></p>
<p><%= t("reset_password.content_02", email: @user.email) %></p>
<p><%= t("reset_password.content_03") %></p>
<p><%= t("reset_password.content_04") %></p>
<p style="text-align: center">
  <%= link_to(t("reset_password.content_05"), @reset_url, style: "color: #fff; text-decoration: none; font-weight: bold; background-color: #007e7c; padding: 10px 30px; border-radius: 50px") %>
</p>
<p><%= t("reset_password.content_06_html", forgot_password_url: @forgot_password_url ) %></p> 